<!--(if target dev)><!-->
<script data-main="scripts/main" src="scripts/vendor/requirejs/require.js"></script>
<!--<!(endif)-->
<!--(if target dist)><!-->
{{! disable console on production }}
<script>window.console = { log: function() {} };</script>
<script src="scripts/main.js"></script>
<!--<!(endif)-->